.footer {
    width: 100%;
    height: 120px;
    background-color: #4646a0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
.socialMedia svg {
    color: white;
    margin: 20px 20px 6 px 20px;
    font-size: 40px;
    cursor: pointer;
  }
  
.footer p {
    color: white;
    padding-bottom: 10px;
  }